// Colors
@backColor: white;

@paleta1: #e67e22;
@paleta2: #22c1bb;
@paleta3: #f39c12;
@paleta4: #485aa8;
@paleta5: #0a5baf;
@paleta6: #1abc9c;

// Medidas
@altoCaja: 250px; // Medida para las cajas en tamaño chico

// Media Query
@mediaTablet: 900px;

// Transitions
@transitionTime: 0.5s;
