// Colors
@backColor: white;

@paleta1: #DC7B71;
@paleta2: #A172E6;
@paleta3: #71C3CF; 
@paleta4: #92E672;
@paleta5: #DCBD6D;




// Medidas
@altoCaja: 250px; // Medida para las cajas en tamaño chico

// Media Query
@mediaTablet: 900px;

// Transitions
@transitionTime: 0.5s;




//#485aa8 lila
//#FFD700 amarillo
//#FF7F50 naranja
//#40E0D0 turquesa
//#32CD32 verde
//#00008B darkblue

// verde agua #22c1bb
