// Colors
@backColor: white;

@paleta1: #00dffc;
@paleta2: #00b4cc;
@paleta3: #008c9e; 
@paleta4: #005f6b;
@paleta5: #343838;
//paleta6: #1abc9c;
//paleta7: #00008B;

// Medidas
@altoCaja: 250px; // Medida para las cajas en tamaño chico

// Media Query
@mediaTablet: 900px;

// Transitions
@transitionTime: 0.5s;


//#485aa8 lila
//#FFD700 amarillo
//#FF7F50 naranja
//#40E0D0 turquesa
//#32CD32 verde
//#00008B darkblue

// verde agua #22c1bb